.landing-section{
	padding: 40px 0 10px;
}

.section-ready{
  background-color: $color-gray-light;

	.container{
    grid-template-columns: 1fr 1fr;
    
    @include md-sm {
      grid-template-columns: 1fr 1fr;
      h2{
        font-size: 24px;
        font-family: $font-header;
      } 
      .ready-left{
          display: grid;
          p{
            font-size: 16px;
            font-family: $font-main;
          }
          p:nth-of-type(3) {
            display: none;
          }
          p:nth-of-type(4) {
            display: none;
          }
          &::after {
            content:'';
            position: absolute;
            height: 200px;
            width: 1px;
            right: -30px;
            top: 200px;
            background-color: rgba($color-gray, 0.24);
          }
        }
      .ready-right{
        padding: 20px 0 0 20px;
          .img-responsive{
            margin: 0 auto;
            max-width: 230px;
            height: auto;
          }
        }
    }

      @include sm {
        grid-template-columns: 1fr;
        h2{
          text-align: center;
          font-size: 24px;
          font-family: $font-header;
        } 
        .ready-left{
            display: grid;
            p{
              font-size: 16px;
              font-family: $font-main;
            }
                        
            p:nth-of-type(4) {
              display: none;
            }
            
          }

        .ready-right{
          display: grid;
          padding: 0;
          .img-responsive{
            margin: 0 auto;
            max-width: 230px;
            height: auto;
            }
          }
          
        }

        @include xs {
          .ready-right{
            padding: 0;
            .img-responsive{
              margin: 0 auto;
              max-width: 230px;
              height: auto;
            }
          }
        }
    }
  }

  .ready-left{ 
    position: relative;
    h2{
      font-size: 40px;
      font-weight: 800;
      color: $color-primary;
      line-height: 1.2;
    }  
    p{
      font-size: 18px;
      font-family: $font-main;
      }

    &::after {
        content:'';
        position: absolute;
        height: 200px;
        width: 1px;
        right: -30px;
        top: 250px;
        background-color: rgba($color-gray, 0.24);
        
        @include sm {
          display: none;
        }
      }
  }

  .ready-right{
    grid-template-columns: 1fr;
    padding: 100px 0 0 40px;
    img{
      margin-left: 40px;
    }
  }

