$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-dark: #44596e;
$color-light: #ffffff;

$button-color: rgba(45, 54, 81, 0.8);
$line-color: rgba(112, 112, 112, 0.27);